venv/
__pycache__/
*.pyc
.DS_Store

# Raw datasets
data/*.xes

# Local/old checkpoints
checkpoints/*.pt
checkpoints/*.pth
checkpoints/tuning_trial_*/

# Python / notebook cache
.ipynb_checkpoints/

# OS/editor files
.vscode/

# Old local experiment artifacts
/checkpoints/
